footer {
  display: flex;
  padding: 3rem 8rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #08180e;
}

footer > p {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 3rem 6rem;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 578px) {
  footer {
    flex-direction: column;
    padding: 2rem;
  }

  footer > p {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}
