@font-face {
  font-family: 'Century Gothic Bold', sans-serif;
  src: url('./fonts/CenturyGothic.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Century Gothic Bold', sans-serif;
  background-color: #091c0f;
  color: #fff;
}
